#pwkSettings table {
    width: 400px;
    max-width: 100%;
}
#pwkSettings td {
    width: 50%;
}

#pwkSettings input[type="text"], #pwkSettings input[type="number"] {
    width: 100%;
}

#pwkSettings input, #pwkSettings label {
    transition: background-color 0.5s;
}

#pwkSettings input.pwk-success, #pwkSettings label.pwk-success {
    background-color: #4eb387;
}

#pwkSettings input.pwk-error, #pwkSettings label.pwk-error {
    background-color: #f65c38;
}